Repository CodersCrew/coderscamp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Veryyapeee, @talcia, @nowakprojects, @lagdush, @KonradSzwarc

fix clickable logo
  packages/website/src/components/Navbar/Navbar.tsx
Owners: @talcia

fix(website): fix issues related to Footer responsiveness
  packages/ui/svg/logos/CodersCrewLogo.svg
  packages/ui/svg/logos/VercelLogo.svg
  packages/website/src/components/Footer/Footer.tsx
Owners: @talcia

Replace React with Preact and add bundle analyzer
  packages/website/next.config.js
  packages/website/package.json
Owners: @talcia

start work with mobile menu mockup
  packages/website/src/components/Navbar/BaseNavbar.tsx
Owners: @talcia

fix(website): react headroom - navigation (#202) (#258)
  packages/website/package.json
  packages/website/src/components/Footer/Footer.tsx
  packages/website/src/components/Navbar/Navbar.tsx
  packages/website/src/components/Testimonials/TestimonialsCarousel.tsx
  yarn.lock
Owners: @talcia, @KonradSzwarc

fix
  packages/ui/src/components/Drawer.tsx
  packages/website/src/components/Navbar/BaseNavbar.tsx
Owners: @talcia

fix paddings
  packages/website/src/components/Navbar/BaseNavbar.tsx
Owners: @talcia

Import RecruitmentModal component dynamically
  packages/website/src/components/Projects/Projects.tsx
  packages/website/src/components/RecruitmentModal/RecruitmentModal.tsx
  packages/website/src/components/RecruitmentModal/RecruitmentModalProvider.tsx
  packages/website/src/types.ts
  packages/website/tsconfig.json
Owners: @talcia

FIx yarn.lock
  yarn.lock
Owners: @KonradSzwarc

add padding bottom
  packages/website/src/components/Navbar/Navbar.tsx
Owners: @talcia

.github/CODEOWNERS:

# Panel
packages/panel/         @Veryyapeee

# Website
packages/website/       @talcia

# API
packages/api/           @nowakprojects

# Frontend tests
panel/**/*.test.tsx     @lagdush @Veryyapeee
panel/**/*.test.ts      @lagdush @Veryyapeee
ui/**/*.test.tsx        @lagdush
ui/**/*.test.ts         @lagdush

# CI/CD
/*                      @KonradSzwarc
scripts/                @KonradSzwarc
.github/                @KonradSzwarc
